<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nda.Rent_Master">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyPhongTro_FREE">

        <activity android:name="com.nda.Rent_Master.JoinRoom.JoinedRoomDetail"/>
        <activity android:name="com.nda.Rent_Master.JoinRoom.JoinRoomSystem"/>
        <activity android:name="com.nda.Rent_Master.Note.NoteManagement"/>
        <activity android:name="com.nda.Rent_Master.Note.AddUpdateNote"/>
        <activity android:name="com.nda.Rent_Master.Houses.UpdateHouse.UpdateHouse"/>
        <activity android:name="com.nda.Rent_Master.Houses.HouseDetail.Rooms.RoomDetail.Tenants.UpdateTenant"/>
        <activity android:name="com.nda.Rent_Master.Houses.HouseDetail.Rooms.UpdateRoom.UpdateRoom"/>
        <activity android:name="com.nda.Rent_Master.Houses.HouseDetail.Rooms.RoomDetail.HoaDon.AddHoaDon"/>
        <activity android:name="com.nda.Rent_Master.Houses.HouseDetail.Rooms.RoomDetail.Tenants.AddTenant"/>
        <activity android:name="com.nda.Rent_Master.Houses.HouseDetail.Rooms.RoomDetail.RoomDetailSystem"/>

        <activity android:name="com.nda.Rent_Master.Houses.HouseDetail.Rooms.RoomDetail.HoaDon.UpdateHoaDon"/>

        <activity
            android:name="com.nda.Rent_Master.Houses.HouseDetail.Rooms.AddRoom.AddRoom"/>
        <activity android:name="com.nda.Rent_Master.Houses.AddHouse.AddHouse" />

        <activity
            android:name="com.nda.Rent_Master.Tenants.TenantsSystem"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.nda.Rent_Master.Services.ServicesSystem"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.nda.Rent_Master.Houses.HouseDetail.HouseDetailSystem"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.nda.Rent_Master.Houses.HousesSystem"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.nda.Rent_Master.LoginSignUpActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nda.Rent_Master.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>